* {
  background-color: #FFFFFF; /* #F0F0F0 */
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #7DB298;
  background-color: #FFFFFF;
}

a:hover {
  color: #FF8566;
}

.more_info, .full_name {
  float: left;
  width: 25%;
  padding: 0.1em;
}

img {
  float: left;
  margin-right: 3em;
  padding: 0.5em;
}

.full_name span{
  color: green;
  font-size: 2em;
}

.questions {
  clear: left;
  margin: 1em;
  font-size: .8em;
}

.questions span {
  color: green;
  font-size: 1.5em;
}

.divider {
  clear: left;

}